<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cổng thông tin quản lý đào tạo</title>
</head>
<body>
    <div>
        <p>Xác nhận đăng nhập thành công. Vui lòng click <a href="https://qldt.ptit.edu.vn/#/home">here</a> để đăng nhập lại!</p>
    </div>
</body>
</html>